<h1> Throwboy Random Name Selector </h1>

<% unless @winner.nil? %>
	<h2>....and the winner is.... <%= @winner %>
		<br /><br />
<% end %>


<%= form_tag do %>

<textarea rows="10" cols="30" name="names">
name 1
name 2
name 3
</textarea>

<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
<br />
<input type="submit" value="SPIT OUT A RANDOM NAME!" id="submit">
<% end %>